.right-side {
    width: 293px;
    position: fixed;
    top: 111px;
    left: calc(50% + 184px);
}

.flex {
    display: flex;
    align-items: center;
}

.account img {
    height: 56px;
    width: 56px;
    border-radius: 28px;
}

.name {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.name-box {
    margin-left: 17px;
}

.name-box p:nth-child(2) {
    font-size: 14px;
    margin-top: 4px;
}

.description {
    font-weight: 400;
    font-size: 12px;
    color: #8E8E8E;
}


.sugestion-title {
    margin-top: 24px;
}

.sugestion-title p:first-child {
    font-weight: 500;
    font-size: 12px;
    color: #8E8E8E;
}

.sugestion-title p:nth-child(2) {
    font-weight: 500;
    font-size: 12px;
    color: #262626;
    margin-left: 120px;
}

.sugestions {
    margin-top: 17px;
}

.page-box {
    width: 126px;
    margin-left: 11px;
}

.page-name {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.page-description {
    font-weight: 400;
    font-size: 12px;
    color: #8E8E8E;
    margin-top: 6px;
}

.sugestions p:nth-child(3) {
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;
    margin-left: 73px;
}

.configs > p {
    font-weight: 400;
    font-size: 11px;
    color: #C7C7C7;
}

.configs p:first-child {
    margin-top: 33px;
}

.configs p:nth-child(2) {
    margin-top: 18px;
}
