body {
    background-color: #FAFAFA;
    font-family: "Roboto", sans-serif;
}

h2 {
    position: absolute;
    top: 24px;
    left: 64px;
    font-weight: 500;
    font-size: 14px;
}

h3 {
    font-weight: 400;
    font-size: 12px;
}

p  {
    font-weight: 300;
}

span {
    font-weight: 500;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stories-box {
    display: flex;
    align-items: center;
    border: 1px solid #DBDBDB;
    height: 118px;
    width: 614px;
    margin-top: 88px;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}

.stories-box ion-icon {
    position: absolute;
    right: 8px;
    top: 46px;
    font-size: 26px;
    color: #FFFFFF;
}

.storie {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storie img:first-child {
    margin-bottom: 5px;
}

.storie img:nth-child(2) {
    position: absolute;
    top: 23px;
}

.content {
    margin-top: 24px;
    width: 614px;
    display: flex;
    flex-direction: column;
}

.post {
    border: 1px solid #DBDBDB;
    height: 749px;
    text-align: center;
    margin-bottom: 60px;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.post-header {
    position: relative;
    height: 61px;
}

.post-header img {
    position: absolute;
    top: 15px;
    left: 17px;
}

.post-header ion-icon {
    position: absolute;
    top: 23px;
    right: 17px;
    font-size: 16px;
}

.post-image > img {
    width: 612px;
    height: 612px;
}

.post-icons {
    position: relative;
    width: 100%;
    height: 76px;
}

.post-icons ion-icon:first-child {
    position: absolute;
    top: 13px;
    left: 18px;
}

.post-icons ion-icon:nth-child(2) {
    position: absolute;
    top: 13px;
    left: 52px;
}

.post-icons ion-icon:nth-child(3) {
    position: absolute;
    top: 13px;
    left: 88px;
}

.post-icons ion-icon:nth-child(4) {
    position: absolute;
    top: 13px;
    right: 18px;
}

.post-icons img:nth-child(5) {
    position: absolute;
    top: 43px;
    left: 18px;
}

.post-icons p:nth-child(6) {
    position: absolute;
    top: 45px;
    left: 44px;
}

.post > video {
    width: 612px;
    height: 612px;
}

.left-side {
    width: 935px;
    margin: 0 auto;
}